<%# <div class="music-icon-root"> %>
    <%# image_tag('music_1.png', alt: 'Music Icon') %>
<%# </div> %>
<h1 class="text-center pt-5">Welcomes to Music4U</h1>
<p class="text-center pb-2">Music is a great healer. Begin and end your day with Music.</p>
<div class= "container row d-flex justify-content-center">
<div class="card col-3 m-1" style="width: 18rem;">
  <img class="card-img-top w-25" src="/assets/music_1.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Albums</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">View more</a>
  </div>
</div>
<div class="card col-3 m-1" style="width: 18rem;">
  <img class="card-img-top w-25" src="/assets/music_1.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Songs</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">View more</a>
  </div>
</div>
<div class="card col-3 m-1" style="width: 18rem;">
  <img class="card-img-top w-25" src="/assets/music_1.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Playlists</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">View more</a>
  </div>
</div>
</div>